@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --primary-color : #081932;
  --text-color : #fffff1;
  --background-color : blue;
  --font-family : 'Roboto', sans-serif;
  --bg-body-font-size:  1rem;
  --bg-body-font-weight:  400;

}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--bg-body-font-size);
  font-weight: var(--bg-body-font-weight);
  
}